.page {
  min-width: 1024px;
  /* height: 6895px; */
  background-color: #2a2c2f;
  color: #FFFFFF;
}

.header {
  min-width: 928px;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0px;
}

.logo {
  width: 176px;
  height: 52px;
}

.lang-list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  list-style-type: none;
  display: flex;
  margin: 0;
}

.lang-link__item {
  margin: 0 18px 6px 0;
}

.lang-link__en {
  width: 30px;
  height: 28px;
  text-decoration: none;
  color: #FFFFFF;
}

.lang-link__ru {
  width: 29px;
  height: 28px;
  text-decoration: none;
  color: #FFFFFF;
}

.links-style {}

.lead {
  min-width: 928px;
  min-height: 962px;
  margin: 48px 48px 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  width: 720px;
  height: 200px;
  margin: 0;
  padding-right: 152px;
  padding-left: 152px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  text-align: center;
}

.lead__subtitle {
  width: 640px;
  height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 32px 192px 56px 192px;
}

.image {
  min-width: 928px;
  min-height: 580px;
}

.lead__img {
  width: 100%;
  object-fit: cover;
}

.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  width: 690px;
  height: 429px;
  display: flex;
  flex-direction: column;
  padding-left: 48px;
}

.intro__title {
  width: 690px;
  height: 58px;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  width: 690px;
  height: 208px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  padding: 48px 0 33px;
}

.intro__list {
  list-style-type: none;
  width: 690px;
  height: 90px;
  margin: 0;
  padding: 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.intro__list_item {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.intro__list_number {
  font-weight: normal;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(3, minmax(213px, 1fr));
  gap: 14px;
  min-width: 928px;
  min-height: 640px;
  margin: 92px 48px;
}

.photo-grid__item {
  object-fit: cover;
  width: 100%;
}

.places {
  min-width: 928px;
  margin: 0 48px;
  display: grid;
  row-gap: 80px;
}

.place__card {
  display: grid;
  grid-template-columns: minmax(320px, 1fr) 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  column-gap: 32px;
  row-gap: 48px;

}

.place__title {
  max-width: 440px;
  max-height: 152px;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__image {
  width: 440px;
  height: 440px;
  width: 100%;
  object-fit: cover;
}

.place__website {
  width: 456px;
  height: 46px;
  margin: 0;
  display: grid;
  row-gap: 12px;
  align-self: end;
}

.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  display: grid;
  row-gap: 27px;
  margin: 0;
  grid-template-rows: max-content;
}

.place__paragraph_item {
  margin: 0;
}

.places__link {
  color: #FFFFFF;
}

/* .cover { */
/* } */

.cover__link {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/russian-travel/images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  min-height: 740px;
  align-items: center;
  /* background: #2A2C2F; */
  /* opacity: 30%; */
  margin: 92px 48px;
  text-decoration: none;
  color: #FFFFFF;
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  width: 560px;
  height: 152px;
  margin: 0;
  padding-top: 195px;
}

.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 360px;
  height: 66px;
  display: flex;
  margin: 0;
  padding-top: 32px;
}

.footer {
  min-width: 928px;
  min-height: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0 48px 24px;
}

.footer__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
}

.footer__links_item {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-right: 18px;

}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
